<div class="flexcol">
    <div id="select-buttons" class="button-container" {{#unless anyBatches}}style="display: none"{{/unless}}>
        <button id="quench-select-all">{{localize "QUENCH.SelectAll"}}</button>
        <button id="quench-select-none">{{localize "QUENCH.SelectNone"}}</button>
    </div>
    <div id="quench-batches">
        <ul id="quench-batches-list">
            {{#each batches}}
                <li class="test-batch" data-batch="{{this.name}}">
                    <label><input type="checkbox" checked />{{this.displayName}}</label>
                    <div class="expandable expanded"></div>
                </li>
            {{/each}}
        </ul>
    </div>
    <div id="quench-results-stats" style="display: none"></div>
    <div class="button-container" >
        <button id="quench-run">{{localize "QUENCH.Run"}}</button>
        <button style="display: none" id="quench-abort">{{localize "QUENCH.Abort"}}</button>
        <button style="display: none" id="quench-update-snapshots">{{localize "QUENCH.UpdateSnapshots"}}</button>
    </div>
</div>
