<div class="flexcol">
    <div id="select-buttons" class="button-container" {{#unless anySuiteGroups}}style="display: none"{{/unless}}>
        <button id="quench-select-all">{{localize "QUENCH.SelectAll"}}</button>
        <button id="quench-select-none">{{localize "QUENCH.SelectNone"}}</button>
    </div>
    <div id="quench-suite-groups">
        <ul id="quench-suite-groups-list">
            {{#each suiteGroups}}
                <li class="suite-group" data-suite-group="{{this.name}}">
                    <label><input type="checkbox" checked />{{this.displayName}}</label>
                    <div class="expandable expanded"></div>
                </li>
            {{/each}}
        </ul>
    </div>
    <div id="quench-results-stats" style="display: none"></div>
    <div class="button-container" >
        <button id="quench-run">{{localize "QUENCH.Run"}}</button>
        <button style="display: none" id="quench-abort">{{localize "QUENCH.Abort"}}</button>
    </div>
</div>
